.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.TableCell1{
  background-color: #ffa000;
  font-size: 12;
  color: #e8eaf6;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.MuiPickersToolbar-toolbar{
  background-color: red;
}
.hola{
  color: red;
  margin-left: 80px;
}
.Menu{
  background-color: theme.palette.background.paper;
}
.App-link {
  color: #61dafb;
}

.
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
